@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-timberwolf: #9bb894;
  --color-sage: #a3b18a;
  --color-fern-green: #588157;
  --color-hunter-green: #3a5a40;
  --color-brunswick-green: #344e41;
}

html {
  scroll-behavior: smooth;
}

/* Ocultar scrollbar en navegadores WebKit (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none; /* Firefox */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* Solo en navegadores WebKit */
  -moz-osx-font-smoothing: grayscale; /* Solo en macOS */
}
